# Project crap
target
*.class
.idea/
.idea_modules/
tmp/
out/
*.iws
*.ipr
*.iml
.bloop
.metals
project/metals.sbt

# User configs
config/worldserver.ini
pslogin/src/main/resources/user.conf

# Log files
*.log
logs/

# Random
*.swp
/*.csv

# Binary files
*.so
*.dll
*.exe
*.zip
pscrypto-lib/
