# Project crap
target
*.class
.idea/
.idea_modules/
tmp/
out/
*.iws
*.ipr
*.iml
.bloop
.metals
project/metals.sbt
/docs
.vscode

# User configs
config/psforever.conf

# Log files
*.log
logs/

# Random
*.swp
/*.csv

# Binary files
*.so
*.dll
*.exe
*.zip
pscrypto-lib/
